node_modules
.vscode
client/dev
client/document/files/temp
client/release
client/test
client/gtest
client/tmp
client/gtest
*.log
.idea
client/src/style/css
.sass-cache
.DS_Store
client/dist/
client/ui/alias.js
/.prettierrc.json
.nyc_output
server/reports
server/build
server/d.js
uploads
server/static
.config.js
config-release/
